<div class="task">
    <label class="container"><%= task.title %>  <%= link_to 'Delete', [task.event, task], method: :delete, class: "delete-task" %>
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
    </label>
    
</div>

