<div class="wrapper">  

  <div class="head">
    <div class="head-content">
      <a href="/">
        <div class="logo">
          <span><%= inline_svg('logo-m.svg') %></span>
          <span class="logo-font">meetboard</span>
        </div>
      </a>

      <div class="menu">
        <a href="/about" class="active">About</a>
        <a href="mailto:rengifo.eder@gmail.com">Feedback?</a>
      </div>
    </div>
  </div>
  
  <div class="content-container">
    <div class="content-body">
        <h1>About</h1>
        <p>Hello! I’m <a href="http://www.ederrengifo.com" target="_blank">Eder Rengifo</a> and allow me to introduce you Meetboard. This little project is my contribution to improve your experience with meetings; it's a place where you connect with your Google Calendar, write notes and create action items at any time in a centralized environment.</p>
        <p>This piece of software is the result of a personal project I been working on during this last year, and now I'm opening it to be tested with more people. So I invite you to give a try. I'm looking forward to improving it based on the feedback you might provide which is very welcome!</p>
        <h2>Latest updates</h2>
        <ul class="changelog">
            <li>
                <span>Dec 30, 2018</span><br>
                The product has been launched! You can connect with your Google account, the app will create events from your Google Calendar, you can write notes there and set action items.
            </li>
        </ul>
    </div>
  </div>

</div>