<div class="wrapper">  

  <div class="head">
    <div class="head-content">
      <a href="/">
        <div class="logo">
          <span><%= inline_svg('logo-m.svg') %></span>
          <span class="logo-font">meetboard</span>
        </div>
      </a>

      <div class="menu">
        <a href="/about" class="active">About</a>
        <a href="mailto:rengifo.eder@gmail.com">Feedback?</a>
      </div>
    </div>
  </div>
  
  <div class="content-container">
    <div class="content-body">
        <h1>About</h1>
        <p>Hello! I’m <a href="http://www.ederrengifo.com" target="_blank">Eder Rengifo</a> and allow me to introduce you Meetboard. Some time ago I started having a lot of meetings, it’s part of growing as professional the industry says, but meetings are quite hard to handle, switching the focus from one meeting to another is exhausting. My hypothesis to solve this problem was quite straight forward; if we are well prepared before, during and after each meeting, we can keep focus and managing them effectively is easier. Meetboard is the result of all the experiments and learned lessons that were born from validating that hypothesis, it works based on the idea of having a single and simple environment where you Google events meet a to-do task manager in a scenario meant to work as a whiteboard. So far the goals of this personal product are humble but I hope it can be bigger and better because of your feedback. Enjoy it!</p>
        <h2>Latest updates</h2>
        <ul>
            <li>
                <span>Dec 30, 2018</span><br>
                The product has been lunched! You can connect with your Google account, the app will create events from your Google events where you can write notes and set action items.
            </li>
        </ul>
    </div>
  </div>

</div>