<div class="wrapper">
    <div class="login">
      <h1>Meetboard</h1>
      <p>Calendars meet to-do tasks</p>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    </div>
</div>