<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

<%= @calendars.count %>

<ul>
  <% @calendars.each do |calendar| %>
    <li><strong><%= calendar.summary %></strong> </br>
    (<%= calendar.start.date_time %>) to (<%= calendar.end.date_time %>)</li>
  <% end %>
</ul>