<%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
        Error
    <% end %>

    <div class="note-field">
        <%= form.text_area :note, placeholder: "Add your notes", :id => 'note-textarea', rows: "1", class: "hidden" %>
        <div contenteditable="true" class="editable" id="populate-div">
            <% if @event.note != nil %>
                <%= @event.note.html_safe %>
            <% end %>
        </div>
    </div>

    <div class="actions">
        <%= form.submit "Update", :class => 'btn-primary hidden', :id => 'update-btn' %>

        <span id="note-confirmation" class="note-confirmation hidden">Saving...</span>
    </div>
<% end %>

<script src="/assets/events-form.js"></script>