<main class="board">

    <%= render "sidebar" %>

    <div class="workspace">
        <div class="scroll-workspace-container">
            <h1>
                <%= @event.title %>
            </h1>
            <p>
                <%= @event.description %>
                <%= @event.hangout_link %>
            </p>
        </div>
    </div>

    <div class="todobar">
    </div>

</main>