<p>
    <strong>Title:</strong>
    <%= @event.title %>
</p>
<p>
    <strong>Description:</strong>
    <%= @event.description %>
</p>
<p>
    <strong>Hangout:</strong>
    <%= @event.hangout_link %>
</p>