<main class="board">
    
    <%= render "sidebar" %>

    <div id="workspace">
        <h1>Meeting Title </h1>
        <p>This is the meeting description and the beginning of the notes!</p>
    </div>
    <div id="todobar">
        <h2>Meeting Tasks</h2>
    </div>
</main>
