@import "variables";

.mb-dropdown-btn {
    display: inline-block;
    span {
        pointer-events: none;
    }
}

.mb-dropdown {
    background-color: #FFFFFF;
    border-radius: 4px;
    display: none;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    overflow: auto;
    padding: 8px;
    margin-top: -8px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.16);

    .option {
        font-size: 15px;
        font-weight: 400;
        background-color: #FFFFFF;
        padding: 8px 12px;
        color: $neutral-1;
        border: 0px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        display: block;
        float: none;
        background: #FFFFFF;
    }

    .option:focus {
        outline-color: transparent;
        outline-style: none;
    }

    .option:hover {
        color: $purple;
        text-decoration: none;
    }
}

.show {
    display: block;
}

.custom-select {
    position: relative;
    width: 280px;
    margin: 4px 0px;
}

.custom-select select {
    display: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-radius: 2px;
    border-color: $neutral-8 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent $neutral-8 transparent;
    top: 14px;
}

.select-items div {
    color: $neutral-1;
    padding: 8px 16px !important;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
    background-color: #FFFFFF;
}

.select-selected {
    color: $neutral-1;
    padding: 8px 16px !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
}
.select-items {
    position: absolute;
    background-color: #FFFFFF;;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 4px;
    margin-top: 4px;
    padding: 4px 0px !important;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: $purple-2;
}
