@import "variables";

.theme-snow {
    flex-direction: column;
    float: left;
    background-color: #FFFFFF;
    color: $neutral-1;
    font-size: 14px;
    line-height: 20px;
    height: 100vh;
    scroll-behavior: smooth;
    border-right: 1px solid $neutral-8;

    .user-options {
        padding: 20px;
        height: 60px;

        span {
            vertical-align: sub;

            a:hover {
                text-decoration: none;
            }
        }

        .user-menu {
            border: none;
            color: $neutral-1;
            font-size: 15px;
            font-weight: 500;
            padding: 0px;
            line-height: 20px;
            opacity: 0.75;
            background-color: transparent;
            cursor: pointer;
            margin-left: 4px;
            transition: 
                opacity 0.25s;
            
            span {
                margin-left: 4px;
                vertical-align: baseline;
                opacity: 1;
            }
        }

        .user-menu:focus {
            outline-color: transparent;
            outline-style: none;
        }

        .user-menu:hover {
            opacity: 1;
            
            span {
                opacity: 1;
            }
        }

        .hide-btn {
            float: right;

            button {
                background-color: transparent;
                border: none;
                opacity: 0.64;
                cursor: pointer;
                transition:
                    opacity 0.25;

                &:hover {
                    opacity: 1;
                }

                &:focus {
                    outline-color: transparent;
                    outline-style: none;
                }
            }
        }


    }

    .events-toggle {
        width: 100%;
        padding: 0px 16px 16px 16px;
        border-bottom: 1px solid $neutral-8;

        button {
            width: 49%;
            margin: 0;
            background-color: transparent;
            color: $neutral-1;
            font-size: 14px;
            line-height: 20px;
            border-radius: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            opacity: 0.64;
            font-weight: 500;
            border: 1px solid $neutral-8;
            cursor: pointer;
            transition: 
                        opacity 0.25s;

            &:first-child {
                float: left;
            }
                
            &:last-child {
                float: right;
            }
                
            &:hover {
                opacity: 1;
            }
                
            &:focus {
                outline-color: transparent;
                outline-style: none;
            }
        }

        

        .active {
            background-color: $neutral-8;
            border: 1px $neutral-8 solid;
            opacity: 0.9;
        }
    }

    .scroll-bar-container {
        flex: 1 1 auto;
        min-height: 1px;
        overflow: auto;
        position: relative;
        padding-bottom: 32px;

        h2 {
            padding: 16px 0px 16px 20px;
            font-weight: 500;
            font-size: 17px;
        }

        h2:first-child {
            border: none;
        }

        ul {
            list-style: none;
            padding: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid $neutral-8;

            a.event-link {
                color: $neutral-1;
                text-decoration: none;
                font-size: 14px;
                line-height: 24px;
                cursor: pointer;
                width: 100%;
                

                li {
                    padding: 8px 20px;
                    opacity: 0.72;
                    transition:
                        background-color 0.16s,
                        opacity 0.25s;
        
                    .event-name {
                        opacity: 1;
                        transition: 
                            opacity 0.25s;
                    }
    
                    .timelapse .date {
                        opacity: 0.64;
                        transition: 
                            opacity 0.25s;
                    }

                    .timelapse .now {
                        font-weight: 500;
                        background-color: $purple;
                        padding: 0px 8px 1px 8px;
                        margin-left: 8px;
                        border-radius: 4px;
                        color: #FFFFFF;
                    }
                    
                }
        
            }

            a.event-link:hover {

                li {
                    background-color: $neutral-9;
                    opacity: 1;
                    border-radius: 0px 4px 4px 0px;
                }
            }

            a.active {
                color: $neutral-1;
                text-decoration: none;
                font-size: 14px;
                line-height: 24px;
                cursor: pointer;
                width: 100%;            

                li {
                    padding: 8px 20px;
                    opacity: 1;
                    background-color: $purple-2;  
                    border-radius: 0px 4px 4px 0px;
        
                    .event-name {
                        opacity: 1;
                        transition: 
                            opacity 0.25s;
                    }
    
                    .timelapse .date {
                        opacity: 0.64;
                        transition: 
                            opacity 0.25s;
                    }

                    .timelapse .now {
                        font-weight: 500;
                        background-color: $purple;
                        color: #FFFFFF;
                        padding: 0px 8px 1px 8px;
                        margin-left: 8px;
                        border-radius: 4px;
                    }
                    
                }
        
            }

            .active {
                background-color: $purple;
                opacity: 1 !important;
    
                a.event-link li {
                    opacity: 1 !important;
                }
                a.event-link li .timelapse {
                    opacity: 1 !important;
                }
                a.event-link:hover li {
                    background-color: $purple !important;
                    opacity: 1 !important;
                }
            }
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }    
    .scroll-bar-container:hover {
        &::-webkit-scrollbar-thumb {
            background-color: $neutral-8;
            border: 2px solid #FFFFFF;
        }
    }
}