
@import "variables";


#todobar {
    flex-direction: column;
    float: left;
    height: 100vh;
    border-left: 1px solid $neutral-8;

    .todohead {
        position: relative;
        padding: 20px 24px 0px 24px;
        color: red;

        h4 {
            color: $neutral-1;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            display: inline;
        }

        .tabs {
            margin-bottom: 24px;
    
            button.todo-tab {
                font-size: 15px;
                font-weight: 500;
                color: $neutral-4;
                padding-bottom: 4px;
                margin-right: 24px;
                cursor: pointer;
                opacity: 1;
                border: none;
                background-color: none;
                transition: 
                    opacity 0.25s;
            }
            button.todo-tab:hover {
                text-decoration: none;
                color: $neutral-1;
                opacity: 1;
            }
            button.todo-tab:focus {
                text-decoration: none;
                opacity: 1;
                outline-color: transparent;
                outline-style: none;
            }
    
            button.active {
                border-bottom: 2px solid $purple;
                color: $neutral-1;
                opacity: 1;
            } 
    
        }
    
        .cleaner {
            float: right;
            display: inline;
    
            .clear-tasks {
                background-color: $green;
                width: 32px;
                height: 20px;
                border-radius: 20px;
                border: none;
                color: $neutral-1;
                font-size: 12px;
                cursor: pointer;
                transition: 0.25s;

                &::after {
                    content: "";
                    z-index: 5;
                    width: 16px;
                    height: 16px;
                    background-color: #FFFFFF;
                    float: right;
                    border-radius: 20px;
                    margin: 0px 2px 0px 2px;
                    transition: 0.25s;
                }
            }
            
            .clear-tasks:hover {
                outline-color: transparent;
                outline-style: none;
            }
            .clear-tasks:focus {
                outline-color: transparent;
                outline-style: none;
                background-color: $neutral-8;

                &::after {
                    margin: 0px 14px 0px 2px;
                }
            }

            .display-tasks {
                background-color: $neutral-8;
                width: 32px;
                height: 20px;
                border-radius: 20px;
                border: none;
                color: $neutral-1;
                font-size: 12px;
                cursor: pointer;
                transition: 0.25s;

                &::after {
                    content: "";
                    z-index: 5;
                    width: 16px;
                    height: 16px;
                    background-color: #FFFFFF;
                    float: left;
                    border-radius: 20px;
                    margin: 0px 2px 0px 2px;
                    transition: 0.25s;
                }
            }

            .display-tasks:hover {
                outline-color: transparent;
                outline-style: none;
            }
            .display-tasks:focus {
                outline-color: transparent;
                outline-style: none;
                background-color: $neutral-8;

                &::after {
                    margin: 0px 2px 0px 14px;
                }
            }
        }
    }

    .scroll-todobar-container {
        flex: 1 1 auto;
        min-height: 1px;
        overflow: auto;
        position: relative;
        padding: 8px 16px 8px 24px;

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    .scroll-todobar-container:hover {
        &::-webkit-scrollbar-thumb {
            background-color: $neutral-8;
            border: 2px solid #FFFFFF;
        }
    }

    .task-container {
        margin-bottom: 24px;

        .task-group {
            margin-bottom: 12px;

            .task-group-head {
                background-color: $neutral-9;
                border-radius: 20px;
                margin-bottom: 16px;

                a.event {
                    font-size: 13px;
                    line-height: 24px;
                    opacity: 1;
                    font-weight: 400;
                    color: $neutral-5;
                    padding: 4px 16px;
                    display: block;

                    span {
                        opacity: 0.32;
                        float: right;
                    }

                    &:hover {
                        color: $neutral-1;
                        text-decoration: none;
                    }
                }
            }

            
        }
    }
}

.task {
    padding: 0px 8px;

    .container-update {
        display: block;
        position: relative;
        padding: 0px 16px 12px 28px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        color: $neutral-5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        a {
            font-size: 12px;
            color: $neutral-3;
            font-weight: 400;
            opacity: 0;
            padding-left: 4px;
        }

        input:focus {
            outline-color: transparent;
            outline-style: none;
        }

        .mark {
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid $neutral-1;
            background-color: #FFF;
            opacity: 0.5;
            cursor: pointer;
            transition: 
                opacity 0.25s;
        }

        .mark:hover {
            background-color: $green;
            border: 1px solid $green;
            opacity: 1;
        }

        .unmark{
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid $green;
            background-color: transparent;
            opacity: 1;
            z-index: 4;
            cursor: pointer;
            transition: 
                opacity 0.25s;
        }

        .checkmark {
            position: absolute;
            left: 0px;
            top: 5px;
            width: 16px;
            height: 16px;
            background-color: $green;
            z-index: 3;
            border-radius: 4px;
            padding: 2px 0px 0px 3px;
            line-height: 8px;
        }
    }
    
    

    .container-update:hover a.delete-task {
        opacity: 0.25;
    }

    .container-update:hover a.delete-task:hover {
        opacity: 0.5;
    }
}

.task-field {

    input {
        font-size: 16px;
        color: $neutral-1;
        width: 100%;
        padding: 8px 16px 8px 0px;
        margin-top: 8px;
        line-height: 24px;
        border: none;
        resize: none;
        opacity: 0.5;
        transition: 
                opacity 0.25s;
    }
    input:focus {
        opacity: 1;
        outline-color: transparent;
        outline-style: none;
        background-color: $neutral-9;
        border-radius: 8px;
        padding: 8px 16px 8px 16px;
    }

    .actions {
        display: none;
        margin-left: 16px;
        margin-top: 8px;
    }
    
}

