$neutral-1: #181724;
$neutral-2: #2A2935;
$neutral-3: #464550;
$neutral-4: #8B8B91;
$neutral-5: #DDDCDE;
$neutral-7: #F1F1F5;
$neutral-8: #F6F6F9;
$purple: #554AE2;
$green: #38D5B1;
$green-soft: #EFFCF6