$neutral-1: #0B061B;
$neutral-2: #1D182E;
$neutral-3: #2E2A3E;
$neutral-4: #413D4F;
$neutral-5: #4F4B5A;
$neutral-7: #9D9BA4;
$neutral-8: #CECDD1;
$neutral-9: #F7F7F8;
$purple: #6E5AFF;
$purple-2: #EDEBFF;
$green: #38D5B1;
$green-soft: #EFFCF6