// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    flex: 1;

    &.board {
        grid-template-areas: "s w w t";
    }

    #sidebar {
        grid-area: s;
        background-color: $neutral-1;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 20px;
        height: 100%;
        padding-bottom: 32px;

        .user-options {
            padding: 8px 16px;
            border-bottom: 1px solid $neutral-2;
            margin-bottom: 8px;

            a {
                color: $purple;
                text-decoration: none;
                margin-left: 4px;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        h2 {
            padding: 16px 16px;
            font-weight: 500;
            font-size: 16px;
        }

        ul {
            list-style: none;
            padding: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid $neutral-2;

            li {
                padding: 8px 16px;

                .event-link {
                    cursor: pointer;
                    width: 100%;

                    .event-name {
                        opacity: 0.5;
                        transition: 
                            opacity 0.25s;
                    }

                    .timelapse {
                        opacity: 0.25;
                        font-weight: 300;
                        transition: 
                            opacity 0.25s;
                    }
                }
                
                .event-link:hover {
                    

                    .event-name {
                        opacity: 1;
                    }

                    .timelapse {
                        opacity: 0.5;
                    }
                }
            }

        }
 
    }

    #workspace {
        grid-area: w;
    }

    #todobar {
        grid-area: t;
    }
}

#sidebar {
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    scroll-behavior: smooth;
}

#todobar {
    border-left: 1px solid #F2F2F2;
}