// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

a {
    color: $purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {

    #workspace {
        // grid-area: w;
        flex-direction: column;
        float: left;     
        height: 100vh;  
        scroll-behavior: smooth;

        .workspace-head {
            width: 100%;
            padding: 18px 7% 16px 7%;

            .left {
                float: left;
                width: 70%;
            }

            .show-sidebar {
                display: inline;
                float: left;
                background-color: transparent;
                border: none;
                padding-top: 2px;
                margin-right: 28px;
                margin-top: 2px;
                cursor: pointer;
                opacity: 0.5;
                transition: 0.25;

                &:hover {
                    opacity: 1;
                }

                &:focus {
                    outline-color: transparent;
                    outline-style: none;
                }
            }

            .hour {
                display: inline;
                float: left;
                font-size: 13px;
                line-height: 20px;
                color: $neutral-4;

                span {
                    opacity: 0.32;
                    margin-right: 4px;
                    vertical-align: sub;
                }
            }

            .right {
                display: inline;
                float: right;
                width: 30%;
                text-align: right;
                position: relative;

                .share-option {
                    display: inline;
                    margin-left: 24px;
                    cursor: pointer;
                    vertical-align: baseline;
                    opacity: 0.64;
                    transition: 0.25;
                    background-color: transparent;
                    border: none;

                    span {
                        vertical-align: baseline;
                    }
                }

                .share-option:focus {
                    outline-color: transparent;
                    outline-style: none;
                }

                .share-option:hover {
                    text-decoration: none;
                    opacity: 1;
                }

                .share-dropdown {
                    margin-top: 16px !important;
                    min-width: 140px !important;
                    right: -32px;
                }

                .note-confirmation {
                    font-size: 13px;
                    font-weight: 400;
                    color: $neutral-7;
                    text-align: right;
                    padding-top: 1px;
                    vertical-align: text-top;
                }
        
                .saved {
                    color: $neutral-7 !important;
                }
            }
        }

        .scroll-workspace-container {
            flex: 1 1 auto;
            min-height: 1px;
            overflow-y: scroll;
            position: relative;
            padding: 16px 7% 32px 7%;

            h1 {
                color: $neutral-1;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 16px;
                line-height: 36px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
    
            p {
                font-size: 16px;
                line-height: 24px;
                color: $neutral-3;
                padding-bottom: 16px;
            }
    
            li {
                margin-top: 16px;
            } 
            
            .event-tabs {
                .details {
                    background-color: transparent;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 500;
                    padding: 2px 12px;
                    border-radius: 16px;
                    color: $neutral-1;
                    border: 1px solid $neutral-8;
                    cursor: pointer;
                    margin-right: 6px;
                    transition: 0.20s;
                }
                .details:hover {
                    color: $purple;
                }
                .details:focus {
                    outline-color: transparent;
                    outline-style: none;
                }
                .active {
                    background-color: $purple;
                    color: #FFFFFF; 
                    border: 1px solid $purple;
                }
                .active:hover {
                    color: #FFFFFF;
                }
                .details-wrapper {
                    background-color: $neutral-9;
                    border-radius: 8px;
                    padding: 16px 16px 8px 16px;
                    margin-top: 16px;

                    div {
                        padding-top: 4px;
                    }

                    span {
                        display: inline;
                        margin-right: 4px;
                        vertical-align: baseline;
                    }
        
                    h4 {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 500;
                        display: inline;
                    }
        
                    p {
                        font-size: 14px !important;
                        line-height: 22px !important;
                        font-weight: 400;
                        color: $neutral-3;
                        opacity: 0.88;
                        margin: 4px 0px 12px 0px;
                        padding: 0px;
        
                        span {
                            color: $neutral-3;
                        }
                    }
        
                    ul {
                        margin: 4px 0px 8px 8px;
                        opacity: 0.88;
                    }
        
                    li {
                        margin: 0px 0px 0px 16px !important;
                        font-size: 14px !important;
                        line-height: 20px !important;
                        font-weight: 400;
                        color: $neutral-3;
                    }

                    br {
                        display: none;
                    }

                    b {
                        font-weight: 500px;
                        font-size: 14px;
                        opacity: 0.88;
                        margin: 4px 0px 12px 0px;
                    }
        
                }
        
                a {
                    font-size: 14px;
                    padding-left: 8px;
        
                }

                .at-accepted {
                    margin-bottom: 12px;

                    .attendee {
                        font-size: 14px;
                        line-height: 20px;
                        color: $neutral-3;
                    }
                    .attendee::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background-color: $green;
                        border-radius: 20px;
                        margin-right: 4px;
                        margin-left: 4px;
                    }
                }

                .at-pending {
                    margin-bottom: 12px;

                    .attendee {
                        font-size: 14px;
                        line-height: 20px;
                        color: $neutral-3;
                    }
                    .attendee::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background-color: $yellow;
                        border-radius: 20px;
                        margin-right: 4px;
                        margin-left: 4px;
                    }
                }

                .at-declined {
                    margin-bottom: 12px;

                    .attendee {
                        font-size: 14px;
                        line-height: 20px;
                        color: $neutral-3;
                    }
                    .attendee::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background-color: $red;
                        border-radius: 20px;
                        margin-right: 4px;
                        margin-left: 4px;
                    }
                }

                .at-maybe {
                    margin-bottom: 12px;

                    .attendee {
                        font-size: 14px;
                        line-height: 20px;
                        color: $neutral-3;
                    }
                    .attendee::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background-color: transparent;
                        border: 1px solid $neutral-8;
                        border-radius: 20px;
                        margin-right: 4px;
                        margin-left: 4px;
                    }
                }
        
            }

            .note-field {
                padding-top: 8px;
                margin-top: 16px;
                margin-bottom: 16px;
                color: neutral-5;

                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: $neutral-5;
                    margin: 0px 0px 12px 0px;
                    opacity: 1;
                    padding: 0px;
                }

                h2 {
                    font-size: 22px;
                    line-height: 28px;
                    color: $neutral-4;
                    font-weight: 500;
                    margin: 0px 0px 4px 0px;
                }

                h3 {
                    font-size: 20px;
                    line-height: 26px;
                    color: $neutral-4;
                    font-weight: 500;
                    margin: 0px 0px 4px 0px;
                }

                blockquote {
                    margin: 0px 0px 12px 0px;
                    padding: 8px 8px 8px 16px;
                    color: $neutral-5;
                    opacity: 0.88;
                    font-style: italic;
                    border-left: 2px solid $neutral-8;
                    background-color: $neutral-9;
                    border-radius: 0px 8px 8px 0px;
                    font-weight: 400;
                }
        
                textarea {
                    padding: 0px;
                    font-size: 16px;
                    line-height: 24px;
                    color: $neutral-2;
                    border: none;
                    width: 100%;
                    resize: none;
                }
        
                textarea:focus {
                    border: none;
                    outline-color: transparent;
                    outline-style: none;
                }
        
                textarea::placeholder {
                    color: $purple !important;
                }

                div::placeholder {
                    color: $purple !important;
                }
        
                div {
                    padding: 0px;
                    font-size: 16px;
                    line-height: 24px;
                    color: $neutral-3;
                    border: none;
                    width: 100%;
                    resize: none;
                }
        
                div:focus {
                    border: none;
                    outline-color: transparent;
                    outline-style: none;
                }
            }
        
            .actions {
                input {
                    font-size: 14px;
                    color: $purple;
                    text-decoration: none;
                    border: 1px solid $purple;
                    padding: 6px 16px;
                    border-radius: 4px;
                    background-color: #FFFFFF;
                    float: left;
                    cursor: pointer;
                    transition: 
                        background-color 0.25s;
                }
                input:hover, :focus {
                    background-color: $purple;
                    color: #FFFFFF;
                    outline-color: transparent;
                    outline-style: none;
                }
            }

        }

              
    }
    
    

    
    
}

.calendar-landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $neutral-4;
    font-size: 16px;
    line-height: 24px;

    div {
        margin-bottom: 24px;
    }

    h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 12px;
        color: $neutral-1;
    }

    a {
        color: $purple;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover {
        text-decoration: underline;
    }
}

.hidden {
    display: none !important;
}

.width-22 {
    width: 22%;
    display: flex;
}

.width-30 {
    width: 30%;
    display: flex;
}

.width-41 {
    width: 41%;
    display: flex;
}

.width-48 {
    width: 48%;
    display: flex;
}

.width-59 {
    width: 59%;
    display: flex;
}
